.extra-controls {
  display: flex;
  width: 100px;
  margin: 0 auto;
  justify-content: space-between;
}

.extra-controls__item {
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #000000;
  border: 0;
  border-radius: 50%;

  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.extra-controls__item[href] {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    background-color: #FF7931;
  }
}

@media (min-width: $desktop-width) {
  .extra-controls {
    display: none;
  }
}
