.extra-articles {
  margin-bottom: 50px;
  padding: 0 16px;
}

.extra-articles__article {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  margin-bottom: 15px;
  padding-top: 40px;

  &:first-of-type {
    background: url("../img/article-time.jpg") no-repeat #1f272a;
  }

  &--desktop {
    display: none;
  }
}

.extra-articles__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;

  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.extra-articles__link {
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  color: #ffffff;

  display: inline-block;
  margin-bottom: 40px;
  padding: 9px 15px;

  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;

  &:hover,
  &:focus {
    color: #FF7931;
    border-color: #FF7931;
  }
}

@media (min-width: $desktop-width) {
  .extra-articles {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 97px;
    padding: 0;
  }

  .extra-articles__article {
    width: 270px;
    min-height: 107px;
    margin-bottom: 0;
    padding-top: 42px;

    &--desktop {
      display: block;
    }

    &--main {
      background-image: url("../img/article-time-desktop.jpg");
    }

    &:nth-of-type(2) {
      background: url("../img/article-desert-desktop.jpg") no-repeat #a07155;
    }

    &:nth-of-type(3) {
      background: url("../img/article-sport-desktop.jpg") no-repeat #416681;
    }

    &:nth-of-type(4) {
      background: url("../img/article-airplanes-desktop.jpg") no-repeat #e6e7e9;
    }
  }

  .extra-articles__link {
    margin-bottom: 28px;
  }
}
