.new-article {
  color: #ffffff;

  padding: 25px 0;

  background: url("../img/hotel.jpg") no-repeat #0a1227;
  background-size: cover;
}

.new-article__mark {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  display: block;
  width: 100px;
  margin: 0 auto 30px;
  padding: 5px;

  background-color: #ff7931;
}

.new-article__title {
  font-size: 30px;
  line-height: 150%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  width: 280px;
  margin: 0 auto 20px;
  padding: 0;
}

.new-article__text {
  font-size: 14px;
  line-height: 150%;
  text-align: center;

  width: 280px;
  margin: 0 auto 30px;
}

@media (min-width: $desktop-width) {
  .new-article {
    padding: 62px 0 48px;
    background: url("../img/hotel-desktop.jpg") no-repeat center,
      linear-gradient(90deg, rgba(255,255,255,0.9360119047619048) 15%, rgba(8,17,34,1) 20%, rgba(8,17,34,1) 80%, rgba(255,255,255,1) 85%);
  }

  .new-article__wrapper {
    position: relative;

    width: 1200px;
    margin: 0 auto;
  }

  .new-article__mark {
    margin-bottom: 40px;
  }

  .new-article__title{
    font-size: 72px;
    line-height: 85px;

    width: 800px;
    margin-bottom: 140px;
  }

  .new-article__text {
    width: 470px;
    margin-bottom: 0;
  }
}
