.site-header {
  position: relative;

  width: 320px;
  margin: 0 auto;
}

.site-header__headline {
  font-size: 25px;
  line-height: 33px;
  font-family: "Playfair Display", "Georgia", "Times New Roman", serif;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;

  width: 150px;
  margin: 0 auto 30px;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .site-header {
    display: flex;
    flex-flow: column wrap;
    width: auto;
  }

  .site-header__headline {
    font-size: 35px;
    line-height: 47px;

    order: -1;
    width: 500px;
    margin: 50px auto 46px;
  }
}
